{{ $company := site.Data.company }}
<div class="section-card company-card">
  <div class="company-card-header">
    <h2>会社情報</h2>
  </div>
  <table class="company-table">
    <tbody>
      <tr>
        <th>会社名</th>
        <td>{{ $company.name }}</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>{{ $company.representative }}</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>{{ $company.address }}</td>
      </tr>
      <tr>
        <th>電話</th>
        <td><a href="tel:{{ replace $company.phone "-" "" }}">{{ $company.phone }}</a></td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>{{ $company.fax }}</td>
      </tr>
      <tr>
        <th>開業</th>
        <td>{{ $company.established }}</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>{{ $company.business }}</td>
      </tr>
    </tbody>
  </table>
</div>
